/* Estilos GoogleFont:
    font-family: 'Abel', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Allerta+Stencil&family=Anton&family=Saira+Condensed:wght@600&display=swap");

.formulario {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 450px;
  box-shadow: 0.5px 10px -5px rgba(0, 0, 0, 0.315);
  padding: 5em auto;
  text-align: center;
}

.title {
  font-family: "Anton", sans-serif;
  color: #ecc510fc;
  text-shadow: 2px 3px 3px black;
  background-color: rgba(0, 0, 0, 0.819);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 1px;
  padding: 2vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error {
  color: rgb(248, 46, 46);
  font-family: "Abel", sans-serif;
  font-size: 1rem;
}

.subtitles {
  color: rgb(41, 41, 40);
  font-size: 1rem;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 200;
}

.fields {
  background-color: rgba(208, 205, 205, 0.318);
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: auto;
  position: relative;
}

.input {
  width: 90%;
  background: transparent;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.inputNum {
  width: 20%;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 1.5vh;
}

.explain {
  width: 85%;
  height: 10vh;
}

.check {
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: auto 3rem;
}

.medida {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#frequency {
  width: 90%;
}
.send {
  padding: 1%;
  border-radius: 7px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  background-color: rgb(108, 108, 40);
  border: solid 1px rgb(207, 207, 8);
  color: rgb(243, 239, 236);
  box-shadow: rgb(221, 227, 32) 1px 2px 1px 1px;
  margin-top: 3vh;
}

.send:hover {
  background-color: #ecc510fc;
  color: rgb(41, 41, 40);
  border: solid 1px black;
  scale: 0.9;
  box-shadow: rgb(67, 67, 13) 1px 1px 1px 1px;
}

.success {
  font-family: "Saira Condensed", sans-serif;
  color: #ecc510fc;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-shadow: black 1px 1px 1px;
  display: flex;
}
