/* Estilos GoogleFont:
    font-family: 'Abel', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allerta+Stencil&family=Anton&family=Saira+Condensed:wght@600&display=swap');


.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/lp_imgs/Login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  margin: -5vh auto;
  width: 100%;
}

.imagen{
  height: 18vh;
  width: 18vh;
  border-radius: 90px;
  box-shadow: #444239af 1px 2px 10px 10px;
}

.form{
  width: 100%;
  margin: auto;
}

.titulo{
  color: whitesmoke;
  margin-top: 4vh;
  font-size: 1.4rem;
  padding: 0.7vh auto;
  text-shadow: #191503fc 4px 5px 2px;
}

.tittle{
  color: #ecc510fc;
  text-shadow: rgb(0, 0, 0) 1px 2px 2px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 1.2rem;
}

input{
  width: 100%;
  }

.botn{
  background-color: silver;
  width: 50%;
  margin: 2vh;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1rem;
  box-shadow: black 2px 1px 1px 1px;
  border-radius: 10px;
  border: ridge black 1px;
}

.botn:hover{
  background-color: #ecc510fc;
  box-shadow: rgb(70, 70, 70) 2px 1px 1px 1px;
  border: ridge rgb(66, 65, 65) 1px;
}

.ancla{
  color: #ecc510fc;
  padding-bottom: 4vh;
  text-shadow: rgb(0, 0, 0) 1px 2px 2px;
  font-size: 1rem;
}

.ancla:hover{
  text-shadow: #b19309fc 1px 2px 2px;
  text-shadow: rgb(0, 0, 0) 1px 2px 2px;
}

.btnInicial{
  width: fit-content;
}

.errorMess {
  display: flex;
  color: rgb(248, 46, 46);
  font-family: "Abel", sans-serif;
  font-size: 1rem;
}