.biopic {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0.2rem;
  margin-left: 2%;
}

.encabezado {
  color: rgb(210, 153, 11);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 22px;
}
.bioText {
  color: #ffffff;
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  justify-content: center;
  font-size: 14px;
}
.ImgCert {
  margin-left: 0.5rem;
}

.picL {
  border-radius: 25%;
  width: 180px;
  height: 200px;
}
