/* Estilos GoogleFont:
    font-family: 'Abel', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Allerta+Stencil&family=Anton&family=Saira+Condensed:wght@600&display=swap");

.icon {
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 95px;
  box-shadow: rgb(227, 227, 226) 0px 0px 7px 1px;
  margin-top: 1vh;
}

.underline {
  text-decoration: none;
  color: #f3f0eb;
}
.underline:hover {
  color: rgb(210, 153, 11);
}

.contenido {
  font-family: "Allerta Stencil", sans-serif;
}

.navbar-collapse {
  align-items: center;
}
.logoText {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1.4rem;
  color: #ecc510fc;
  font-weight: 200;
}

.logoText {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
}

.logoText:hover {
  color: rgb(210, 153, 11);
}

.login {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Saira Condensed", sans-serif;

  font-size: 17px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.login:hover {
  color: rgb(210, 153, 11);
}
.login:active {
  position: relative;
  top: 1px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 0;
}
.userName {
  color: white;
  font-size: 0.7rem;
  margin: 0;
}
.dropDownAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu.show {
  display: grid !important;
  justify-content: center;
  background-color: #212529;
}
