@import url("https://fonts.googleapis.com/css2?family=Abel&family=Allerta+Stencil&family=Anton&family=Saira+Condensed:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.css-184cuy3-MuiStack-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  margin: 15;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}
#contPays {
  padding-left: 15px;
  padding-right: 15px;
}

#welcome {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  margin: 15;
  padding: 5;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

.css-rj9s87-MuiAvatar-root {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 76px;
  height: 76px;
  margin-top: 10px;
}
.contUser {
  background-image: url("../../assets/lp_imgs/Login.jpg");
  align-items: center;
}
#subtitle,
#welcome {
  color: white;
}
.middle-component {
  background-color: #212529;
}
.userIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -4vh;
}
.iconos {
  color: #ecc510fc;
}
.paper1 {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 450px;
  box-shadow: 0.5px 10px -5px rgba(0, 0, 0, 0.315);
  padding: 5em auto;
  text-align: center;
}
.grid1 {
  padding: 0;
}
.li,
.li1,
.li2,
.li3 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0.3rem;
  flex-direction: column;
}

.li5,
.li4 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0.3rem;
}

.css-10hburv-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
  font-weight: 500;
  font-size: 1rem;
}

.title1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #ecc510fc;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.title3 {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #ecc510fc;
  font-style: italic;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #212529;
  text-shadow: 2px 3px 3px black;
}

.cont1 {
  margin-top: 0;
}
.p1 {
  text-align: center;
  margin: 0.3rem;
}
#btnC {
  color: #ecc510fc;
}
