.contentCommunity {
  display: grid;
  grid-template-columns: 0.01fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "avatarAside createPost " "avatarAside postArea ";
  width: 100%;
  height: 100vh;
  padding: 0%;
  column-gap: 1%;
}

.avatarAside {
  grid-area: avatarAside;
  background: transparent;
}

.createPost {
  grid-area: createPost;
  height: auto;
}

.postArea {
  grid-area: postArea;
}


