/* Grid structure*/
.App {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "navBar navBar navBar "
    "middle-component middle-component middle-component"
    "footer footer footer ";
}
.navBar {
  grid-area: navBar;
}
.middle-component {
  grid-area: middle-component;
  width: 100vh;
  height: auto;
  align-items: center;
}

.footer {
  grid-area: footer;
}
